<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Amazon Application Test Automation Test Suite">

<listeners>

<listener class-name="com.amazon.ExtentReportListener.ExtentReporterNG"/>

</listeners>

	<test name="Amazon app Test Cases">
		<classes>
		<class name="com.amazon.qa.testcases.HomePageTest"></class>
		<class name="com.amazon.qa.testcases.BeautyandPersonalCarePageTest"></class>
		<class name="com.amazon.qa.testcases.YourAccountPageTest"></class>
		<class name="com.amazon.qa.testcases.LoginPageTest"></class>
			
		</classes>
	</test>
</suite>